/* 
This is the style page for onepage-wonder. In order for this file to work
properly, we need to follow a specific style. Most generic stuff at the top and
work your way down to the most specific. If you have a class as the selector,
make its own rule for it... Don't nest it. If a group of variables are used 
more than once see if you can choose a different class or see if you can use a 
mixin to solve that problem.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**************************************
Break Points
**************************************/
/******************************************************************************
main stuff
******************************************************************************/
body {
  background: #efefef;
  margin: 0; }

.wrapper::after {
  clear: both;
  content: "";
  display: table; }

.radius {
  border-radius: 15px; }

.round {
  border-radius: 50%; }

ul {
  list-style-type: none; }

/**************************************
Text
**************************************/
.text-center {
  text-align: center; }

h5 {
  font-size: 1em; }

/**************************************
Grid/Column
**************************************/
.full-width {
  width: 100%; }

/******************************************************************************
Headers and Font Variations
******************************************************************************/
.sub-title {
  padding: 20px;
  width: 300px;
  margin: 20px auto; }

/******************************************************************************
Navigation
******************************************************************************/
.navbar {
  width: 100%;
  background: #444;
  position: fixed;
  top: 0;
  height: 75px;
  box-shadow: 3px 3px 6px black; }
  .navbar .navbar-nav {
    width: 100%;
    margin: auto;
    padding-top: 23.1px; }
    .navbar .navbar-nav .title {
      font-size: 1.5em;
      margin-left: 0; }
    .navbar .navbar-nav li {
      display: inline; }
      .navbar .navbar-nav li:first-of-type {
        text-align: left;
        margin-left: 0; }
      .navbar .navbar-nav li a {
        text-decoration: none;
        text-align: right;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 5;
        color: white; }
        .navbar .navbar-nav li a:hover {
          color: #d9d9d9; }
      .navbar .navbar-nav li .dropdown {
        display: none; }
      .navbar .navbar-nav li .has-dropdown {
        color: pink; }
        .navbar .navbar-nav li .has-dropdown:hover {
          background: black; }
          .navbar .navbar-nav li .has-dropdown:hover .dropdown {
            display: inline; }

/******************************************************************************
Featured img / call to action
******************************************************************************/
.img-cover {
  padding-top: 92.63px;
  background: url("../img/bikes.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 500px; }

.cta {
  margin: 0 auto;
  padding-top: 50px; }
  .cta h1 {
    color: white; }
  .cta .button {
    font-size: 40px;
    background: rgba(68, 68, 68, 0.7);
    border-color: white;
    border-width: 2px; }
    .cta .button:hover {
      background: rgba(68, 68, 68, 0.9); }
  .cta blockquote, .cta cite {
    padding-top: 50px;
    color: white; }
    .cta blockquote cite, .cta cite cite {
      font-size: 20px; }

.quote-cover {
  background: url("../img/journal.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 500px; }
  .quote-cover h1 {
    background: rgba(51, 51, 51, 0.7);
    outline: black; }

.third {
  background: url("../img/building.jpg") no-repeat center center fixed;
  background-size: cover; }

.fourth {
  background: url("../img/postit.jpg") no-repeat center center fixed;
  background-size: cover; }

/******************************************************************************
Team
******************************************************************************/
.team {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .team::after {
    clear: both;
    content: "";
    display: table; }
  .team .button {
    background: white;
    color: steelblue;
    width: 150px; }
    .team .button:hover {
      background: #555; }
  .team img {
    border-radius: 50%; }
  .team img:hover {
    transform: rotate(45deg); }
  .team li > a {
    max-width: 150px; }
  .team .team-member {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .team .team-member:last-child {
      margin-right: 0; }
    .team .team-member img {
      max-width: 150px; }

/******************************************************************************
Promo
******************************************************************************/
.promo {
  background: white; }
  .promo img {
    margin-bottom: 20px; }

/******************************************************************************
Projects
******************************************************************************/
.portfolio {
  margin: 0 auto;
  padding-bottom: 50px; }
  .portfolio ul {
    margin: 0 auto; }
    .portfolio ul a:hover {
      width: 500px; }
  .portfolio img:hover {
    transform: scale(1.125) rotate(10deg); }

/******************************************************************************
Forms
******************************************************************************/
textarea {
  height: 150px; }

/******************************************************************************
Services
******************************************************************************/
.services-table {
  margin-bottom: 40px; }

/******************************************************************************
Contact
******************************************************************************/
.contact ul {
  list-style-type: none; }

/******************************************************************************
Profile
******************************************************************************/
.skills {
  border: transparent;
  background: #fff; }
