/* 
This is the style page for onepage-wonder. In order for this file to work
properly, we need to follow a specific style. Most generic stuff at the top and
work your way down to the most specific. If you have a class as the selector,
make its own rule for it... Don't nest it. If a group of variables are used 
more than once see if you can choose a different class or see if you can use a 
mixin to solve that problem.
*/




@import "bourbon", "neat";


$dark: #444;
$white: #fff;

$background: $white;
$btn-bg: steelblue;


/**************************************
Break Points
**************************************/



$small: 568px;
$medium: 667px;
$large: 1104px;



/******************************************************************************
main stuff
******************************************************************************/



body {
	background: $background;
	margin: 0;
	@include clearfix;
}

.wrapper {
	//@include clearfix;
}

.wrapper-content {
	text-align: justify;
	width: 95%;
	margin: 0 auto;
	@include media($large) {
		text-align: left;
	}
}

.radius {
	border-radius: 15px;
}

.round {
	border-radius: 50%;
}

ul {
	list-style-type: none;
}



/**************************************
Text
**************************************/



.text-center {
	text-align: center;
}

h5 {
	font-size: 1em;
}

h3, p {
  font-family: sans-serif;
}

.lead {
  font-size: 1.125em;
}



/**************************************
Grid/Column
**************************************/



.full-width {
	@include fill-parent;
}



/******************************************************************************
Headers and Font Variations
******************************************************************************/



.sub-title {
	//background: #999;
	padding: 20px;
	//border: 2px inset red;
	width: 300px;
	margin: 20px auto;
}



/******************************************************************************
Navigation
******************************************************************************/



header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 2px solid darken($navigation-background, 10); // Replace with a box-shadow?
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        box-sizing: border-box;
        background: $navigation-search-background;
        border-radius: $base-border-radius * 2;
        border: $navigation-search-border;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}



/******************************************************************************
Featured img / call to action
******************************************************************************/



.img-cover {
	padding-top: 60px;
	background: url("../img/bikes.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 500px;
}

.cta {
	margin: 0 auto;
	padding-top: 50px;
	h1 {
		color: $white;
    font-weight: 100;
	}

  .cta-btn {
    @include outer-container(95%);
    margin-top: 50px;

    .btn {
      text-decoration: none;
      border: 1px solid white;
      font-size: 2em;

      color: $white;
      background: rgba($dark, .5);

      @include span-columns(12);
      margin-top: 10px;

      &:hover {

        $background-cta: rgba($dark, .7);
        background: darken($background-cta, 15%);
      }
    }

  }
	
	blockquote, cite {
		padding-top: 50px;
		color: white;
		cite {
			font-size: 20px;
		}
	}
}

.quote-cover {
	background: url("../img/journal.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 500px;
	h1 {
		background: rgba(#333, .7);
		outline: black;
	}
}

.third {
	background: url("../img/building.jpg") no-repeat center center fixed;
	background-size: cover;
}

.fourth {
	background: url("../img/postit.jpg") no-repeat center center fixed;
	background-size: cover;
}


/******************************************************************************
Parrallax Scrolling Image
******************************************************************************/



$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;

  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../img/building.jpg") no-repeat;
  background-position:top center;
  background-size: cover;
  background-color: $background;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/




/******************************************************************************
Team
******************************************************************************/



.team {
	@include outer-container(100%);
	.button {
		background: white;
		color: steelblue;
		width: 150px;
		&:hover {
			background: #555;
		}
	}
	img {
		border-radius: 50%;
	}
	img:hover {
		transform: rotate(45deg);
	}
	li > a {
		max-width: 150px;
	}
	
	.team-member {
		
		@include span-columns(12);
		text-align: center;
		
		@include media($medium) {
			@include span-columns(4);	
		}
		
		
		img {
			max-width: 150px;
		}
	}
}



/******************************************************************************
Promo
******************************************************************************/



.promo {
	//background: white;
  @include outer-container(100%);
  .promo-table {

    //border: 1px solid $dark;

    margin-bottom: 50px;

    p.lead {
      text-align: justify;
    }
    @include span-columns(12);
    @include media($medium) {
      @include span-columns(4);
    }
  }
	img {
		margin-bottom: 20px;
	}
}



/******************************************************************************
Projects
******************************************************************************/



.portfolio {
	@include outer-container(100%);
	
  .photo-flex-parent {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .photo-flex-child {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    &:hover {
      transform: 4;
    }
  }

}



/******************************************************************************
Forms
******************************************************************************/



textarea {
	height: 150px;
}



/******************************************************************************
Services
******************************************************************************/


/*
.service-table {
	margin-bottom: 40px;
  @include outer-container(100%);

  .pricing-table {
    
    text-align: center;
    

    

    margin-bottom: 15px;
    //max-width: 250px;


    .title-area {
      margin: 0;
      background: rgb(19, 19, 19);
      color: $white;
      h3 {
        font-weight: 100;
        font-size: 2em;
        margin: 0;
        padding: 10px;
      }
      

      .price {
        font-style: italic;
        font-size: 1.5em;
        font-weight: 100;
        margin-bottom: 0;
      }

      .price-blurb {
      	color: darken($white, 20%);
      	font-size: .75em;
      	margin-bottom: 0;
      	padding-bottom: 15px;
      	font-style: italic;
      }
    }

		.pricing-info {

			$pricing-bg: rgb(245, 245, 245);
			$pricing-bg: darken($pricing-bg, 10%);
			$pricing-line: 1px solid $dark;

			background: $pricing-bg;
			margin-top: 0;
			padding-left: 7%;
			padding-right: 7%;

			p.lead {
	      text-align: justify;
	      padding: 5px;
	      font-size: 1em;
	      margin-top: 0;
	      padding-top: 1em;
	      border-bottom: $pricing-line;
	    }
	    ul {
      margin: 0;
      padding: 0;
      margin-top: 5px;
      background: white;

      li {
        color: black;
        border-bottom: $pricing-line;
        height: 1.5em;
        vertical-align: middle;
        background: $pricing-bg;
        line-height: 1.5em;

      } 
    }

		}
        
    @include span-columns(12);

    @include media($medium) {
    	@include span-columns(6);
    	text-align: center;
    	margin: 0 auto;

    }
    
    @include media($large) {
      @include span-columns(4);
    }
    
  }
}

*/
.cards {
	margin-top: 50px;
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: $white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;


  ul {
  	margin: 0;
  	padding: 0;
  	li {
  		border-bottom: 1px solid $dark;
  	}
  }


  .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $card-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    text-align: center;
    h3 {
    	margin: 0;
    }
    p {
    	font-size: .5em;
    	font-style: italic;
    	font-weight: 100;
    	color: lighten($dark, 10%);
    	margin: 0;

    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

.happy-customers {
	//@include outer-container(100%);
	margin-bottom: 50px;
	h3 {
		margin-top: 0;
	}

	.customer-review {
		@include outer-container(100%);
		vertical-align: middle;
		background: blue;
		border: 2px solid red;
	}

	.customer-image {
		//border: 2px solid red;
		@include span-columns(12);
		text-align: center;
		margin: auto;

		@include media($medium) {
			@include span-columns(3);
		}

	}
	.customer-quote {
		background: lighten(grey, 15%);
		@include span-columns(12);
		margin: 0;

		@include media($medium) {
			@include span-columns(9);
			@include omega();
			margin: auto 0;
		}
	}
}




/******************************************************************************
Contact
******************************************************************************/



.contact {
	
	@include outer-container(100%);
	.contact-form {
		
		@include span-columns(12);
		
		form {
			background: black;
			
			input {
				@include span-columns(12);
				margin-bottom: 10px;
				height: 2em;
			}
			
			textarea {
				@include span-columns(12);
			}
			
			a {
				@include span-columns(12);
				text-decoration: none;
				padding-top: 7px;
				padding-bottom: 7px;
				margin-top: 5px;
				text-align: center;
				background: $btn-bg;
				border-radius: 5px;
				color: white;
				
				&:hover {
					background: darken($btn-bg, 15%);
				}
			}
		}
		
		
		
		@include media($medium) {
			@include span-columns(8);
		} //medium devices go up to 8 columsn
	}
	.contact-list {
		
		@include span-columns(12);

		.social {
			margin: 0;
			padding: 0;
		}
		a {
			text-decoration: none;
			color: $dark;
			&:hover {
				color: darken($dark, 15%);
			}
		}
		
		.vcard {
			background: blue;
			line-height: 1em;
			font-size: .95em;
		}
		
		hr {
			//border-bottom: 1px red solid;
			color: rgba( $dark, .7);
		}
		
		@include media ($medium) {
			@include span-columns(4);	
		}
		
	} //contact-lsit
}



/******************************************************************************
Profile
******************************************************************************/



.skills {
	border: transparent;
	background: #fff;
}



/******************************************************************************
Footer
******************************************************************************/



.footer {
	@include outer-container(100%);
	text-align: center;
	
	.footer-copy {
		@include span-columns(12);
		
		@include media($large) {
			@include span-columns(3);
		}
	}
	
	.footer-list {
		@include span-columns(6);
		
		@include media($large) {
			@include span-columns(3);
			@include omega();
		}
	}
	
	
	.bottom {
		color: rgba($dark, .7);
		font-size: .95em;
		@include span-columns(12);
		margin-top: 20px;
		p {
			font-size: .95em;
			//background: blue;
		}
	}
	
} //footer