/* 
This is the style page for onepage-wonder. In order for this file to work
properly, we need to follow a specific style. Most generic stuff at the top and
work your way down to the most specific. If you have a class as the selector,
make its own rule for it... Don't nest it. If a group of variables are used 
more than once see if you can choose a different class or see if you can use a 
mixin to solve that problem.
*/




@import "bourbon", "neat";


$dark: #444;

$background: #efefef;


/**************************************
Break Points
**************************************/



$small: 568px;
$medium: 667px;
$large: 1104px;



/******************************************************************************
main stuff
******************************************************************************/



body {
	background: $background;
	margin: 0;
}

.wrapper {
	@include clearfix;
}

.radius {
	border-radius: 15px;
}

.round {
	border-radius: 50%;
}

ul {
	list-style-type: none;
}



/**************************************
Text
**************************************/



.text-center {
	text-align: center;
}

h5 {
	font-size: 1em;
}



/**************************************
Grid/Column
**************************************/



.full-width {
	@include fill-parent;
}



/******************************************************************************
Headers and Font Variations
******************************************************************************/



.sub-title {
	//background: #999;
	padding: 20px;
	//border: 2px inset red;
	width: 300px;
	margin: 20px auto;
}



/******************************************************************************
Navigation
******************************************************************************/



.navbar {
	@include fill-parent;
	background: $dark;
	position: fixed;
	top: 0;
	height: 75px;
	
	box-shadow: 3px 3px 6px darken($dark, 50%);
	
	.navbar-nav {
		
		//Mobile Stuff
		@include media($small) {
			//Mobile goes here
		}
		
		
		
		
		//Everything Else
		@include fill-parent;
		margin: auto;
		padding-top: 23.1px;
		
			.title {
				font-size: 1.5em;
				margin-left: 0;
				
			}

			li {
				display: inline;

				&:first-of-type {
					text-align: left; //Selects the first li (title), and moves to left
					margin-left: 0;
				}
				a {
					text-decoration: none;
					text-align: right;
					padding-left: 5px;
					padding-right: 5px;
					margin: 0 5;
					color: white;
					
					&:hover {
						color: darken(white, 15%);
					}
				}
					.dropdown {
				display: none;

			}//dropdown	
				.has-dropdown {
					color: pink;
					&:hover {
						background: black;
						.dropdown {
							display: inline;
						}
					}
				}
				
			
			} //li

			


	} //.navbar-nav

}


/******************************************************************************
Featured img / call to action
******************************************************************************/



.img-cover {
	padding-top: 92.63px;
	background: url("../img/bikes.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 500px;
}

.cta {
	margin: 0 auto;
	padding-top: 50px;
	h1 {
		color: white;
	}
	.button {
		font-size: 40px;
		background: rgba(#444, .7);
		border-color: white;
		border-width: 2px;
		&:hover {
			background: rgba(#444, .9);
		}
	}
	blockquote, cite {
		padding-top: 50px;
		color: white;
		cite {
			font-size: 20px;
		}
	}
}

.quote-cover {
	background: url("../img/journal.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 500px;
	h1 {
		background: rgba(#333, .7);
		outline: black;
	}
}

.third {
	background: url("../img/building.jpg") no-repeat center center fixed;
	background-size: cover;
}

.fourth {
	background: url("../img/postit.jpg") no-repeat center center fixed;
	background-size: cover;
}



/******************************************************************************
Team
******************************************************************************/



.team {
	@include outer-container(100%);
	.button {
		background: white;
		color: steelblue;
		width: 150px;
		&:hover {
			background: #555;
		}
	}
	img {
		border-radius: 50%;
	}
	img:hover {
		transform: rotate(45deg);
	}
	li > a {
		max-width: 150px;
	}
	
	.team-member {
		@include span-columns(4);
		
		img {
			max-width: 150px;
		}
	}
}



/******************************************************************************
Promo
******************************************************************************/



.promo {
	background: white;
	img {
		margin-bottom: 20px;
	}
}



/******************************************************************************
Projects
******************************************************************************/



.portfolio {
	margin: 0 auto;
	padding-bottom: 50px;
	ul {
		margin: 0 auto;
		a {
			&:hover {
				width: 500px;
			}
		}
	}
	img:hover {
		transform: scale(1.125) rotate(10deg);
	}
}



/******************************************************************************
Forms
******************************************************************************/



textarea {
	height: 150px;
}



/******************************************************************************
Services
******************************************************************************/



.services-table {
	margin-bottom: 40px;
}



/******************************************************************************
Contact
******************************************************************************/



.contact {
	ul {
		list-style-type: none;
	}
}



/******************************************************************************
Profile
******************************************************************************/



.skills {
	border: transparent;
	background: #fff;
}


